:root {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', sans-serif;
  padding: 0 ;
  background-color: #fff;
  background-image: url('../public/src/bg.png');
  background-size: cover;
  background-position: center;
  background-position-y: top;
}

.main {
  padding: 1.7vw 5vw;
  font-size: 1vw;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  gap: 2vw;
  font-weight: 600;
}

.button-buy {
  background-color: #1E6388;
  color: #fff;
  padding: 1vw 2.3vw;
  border: none;
  border-radius: 50vw;
  font-weight: 600;
  font-size: 0.8vw;
}

.main-text {
  display: flex;
  flex-direction: column;
}

.main-title {
  font-size: 4vw;
  font-weight: 900;
}

.main-description {
  margin-top: -2vw;
  font-size: 1.4vw;
  text-align: start;
}

.section-main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.main-drone {
  margin-right: 2vw;
  margin-top: 5vw;
  scale: 1.2;
  position: relative;
  right: -20vw; 
  opacity: 0;
  animation: slideIn 2s ease forwards;
}

@keyframes slideIn {
  0% {
    right: -20vw;
    opacity: 0;
  }
  100% {
    right: 7vw;
    opacity: 1;
  }
}