@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap');

:root {
  padding: 0;
  font-family: "Unbounded", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  background-image: url("/public/src/bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

html {
  scroll-behavior: smooth;
}

h1::selection, h2::selection, h3::selection, p::selection, li::selection, a::selection, img::selection, br::selection {
  background-color: #1F5371;
}

button::selection {
  background-color: #ffffff;
  color: #1F5371;
}

h1, h2, h3, p, li {
  text-shadow: 2px 2px 5px rgba(0,0,0,0.4);
}

body {
  margin: 0;
  padding: 0;
  color: #fff;
}

h2 {
  font-size: 2.4vw;
  font-weight: 500;
}

h3 {
  font-size: 1.3vw;
  font-weight: 400;
}

p {
  font-size: 1.1vw;
}

ul {
  list-style-type: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

a:visited {
  color: inherit;
}

.logo {
  scale: 1;
}

button, .logo {
  cursor: pointer;
  transition: transform 500ms ease;
}

button {
  font-family: "Unbounded", sans-serif;
  color: #fff;
  padding: 1vw 2.3vw;
  border: none;
  border-radius: 50vw;
  font-weight: 600;
  font-size: 1vw;
}

button:hover, .logo:hover {
  transform: scale(1.05);
}

.main {
  font-size: 1vw;
}

header {
  padding: 1.7vw 8vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #baebff3b;
  position: fixed;
  top: 0;
  width: 85%;
  backdrop-filter: blur(30px);
  z-index: 100;
  transition: background-color 0.7s ease, backdrop-filter 0.7s ease;
}

header.transparent {
  background-color: transparent;
  backdrop-filter: none;
}

.menu {
  display: flex;
  flex-direction: row;
  gap: 2vw;
  font-weight: 600;
}

.menu li {
  cursor: pointer;
  transition: transform 500ms ease;
}

.menu li:hover {
  transform: scale(1.1);
}

.button-buy {
  background-color: #1F5371;
}

.form-bg, .form-bg-faq {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: rgba(117, 158, 182, 0.726);
  top: 0;
  left: 0;
  display: none;
  z-index: 2000;
}

.form-bg.visible, .form-bg-faq.visible {
  display: initial;
}

.form-buy {
  background-image: url("/public/src/form-bg.png");
  border-radius: 3vw;
  border: 2px solid #1F5371;
  position: fixed;
  top: 50%;
  left: 50%;
  transform:translate(-50%, -50%);
  padding: 4vw 4.5vw;
  color: #1F5371;
  z-index: 2001;
}

.form-question {
  background-image: url("/public/src/form-bg.png");
  border-radius: 3vw;
  z-index: 1001;
  border: 2px solid #1F5371;
  position: fixed;
  top: 50%;
  left: 50%;
  transform:translate(-50%, -50%);
  padding: 4vw 4.5vw;
  color: #1F5371;
}

.form-buy form, .form-question form {
  display: flex;
  flex-direction: column;
}

.form-buy form input, .form-question form input {
  border: 2px solid #1F5371;
  border-radius: 50vw;
  padding: 1.1vw;
  font-family: "Unbounded", sans-serif;
  color: #8f8f8f;
  margin-bottom: 1vw;
}

.form-buy form input::placeholder, .form-question form input::placeholder, .form-question form textarea::placeholder {
  font-family: "Unbounded", sans-serif;
  color: #8f8f8f;
}

.form-buy form input:focus, .form-question form input:focus, .form-question form textarea:focus {
  border: 2px solid #000d46;
  outline: none;
}

.form-question form textarea {
  border: 2px solid #1F5371;
  border-radius: 50vw;
  padding: 1.1vw;
  font-family: "Unbounded", sans-serif;
  color: #8f8f8f;
  margin-bottom: 1vw;
  height: 2.5vw;
  resize: none;
}

.form-buy button {
  margin-top: 1vw;
  width: 30%;
  align-self: center;
  background-color: #1F5371;
}

.form-question button {
  margin-top: 1vw;
  align-self: center;
  background-color: #1F5371;
}

.form-buy h2, .form-question h2 {
  text-wrap: nowrap;
  margin-top: -1vw;
  font-weight: 400;
}

.section-main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 7vw 8vw 6vw 8vw;
}

.main-text {
  display: flex;
  flex-direction: column;
}

.main-title {
  font-size: 4vw;
  font-weight: 900;
  text-wrap: nowrap;
}

.main-description {
  margin-top: -1vw;
  text-align: start;
}

.main-drone {
  margin-right: 4vw;
  margin-top: 13vw;
  scale: 1.3;
  position: relative;
  right: -20vw; 
  opacity: 0;
  animation: slideIn 2s ease forwards;
}

@keyframes slideIn {
  0% {
    right: -20vw;
    opacity: 0;
  }
  100% {
    right: 10vw;
    opacity: 1;
  }
}

.bubble1, .bubble2, .bubble3, .bubble4 {
  position: absolute;
  opacity: 0;
  width: 5vw;
  height: 5vw;
}

.bubble1 {
  top: 21%;
  right: 1%;
  animation: easeIn 0.4s ease forwards;
  animation-delay: 1.3s;
}

.bubble2 {
  top: 34%;
  right: 3%;
  animation: easeIn 0.4s ease forwards;
  animation-delay: 1.2s;
}

.bubble3 {
  top: 47%;
  right: 2%;
  animation: easeIn 0.4s ease forwards;
  animation-delay: 1.1s;
}

.bubble4 {
  top: 60%;
  right: 4%;
  animation: easeIn 0.4s ease forwards;
  animation-delay: 1s;
}

@keyframes easeIn {
  0% {
    opacity: 0;
    transform: translateY(2vw); 
  }
  10% {
    opacity: 0.1;
    transform: translateY(-1vw) scale(0.9);
  }
  20% {
    opacity: 0.2;
    transform: translateY(-2vw) scale(0.8);
  }
  30% {
    opacity: 0.3;
    transform: translateY(-3vw) scale(0.7);
  }
  40% {
    opacity: 0.4;
    transform: translateY(-4vw) scale(0.6);
  }
  50% {
    opacity: 0.5;
    transform: translateY(-5vw) scale(0.5);
  }
  60% {
    opacity: 0.6;
    transform: translateY(-6vw) scale(0.4);
  }
  70% {
    opacity: 0.7;
    transform: translateY(-7vw) scale(0.3);
  }
  80% {
    opacity: 0.8;
    transform: translateY(-8vw) scale(0.2);
  }
  90% {
    opacity: 0.9;
    transform: translateY(-9vw) scale(0.1);
  }
  100% {
    opacity: 1;
    transform: translateY(-10vw) scale(0);
  }
}

.section-tests {
  padding: 4vw 8vw 4vw 8vw;
}

.tests-list li:not(:first-child) {
  margin-top: -1vh;
}

.tests-list li p {
  position: relative;
  padding-left: 1vw;
}

.tests-list li p::before {
  content: "•";
  color: #ffffff;
  font-size: 1.4vw;
  position: absolute;
  left: 0;
  top: -2px;
}

.section-about {
  background-image: url('../public/src/divers.png');
  background-size: cover;
  background-position-y: center;
  background-position-x: center;
  height: 40vw;
  color: #fff;
  padding: 5vw 8vw 0 8vw;
}

.about-text {
  padding: 0 10vw;
}

.about-description {
  margin-top: -2vw;
  text-align: center;
  font-size: larger;
}

.about-gallery ul {
  display: flex;
  flex-direction: row;
  gap: 2vw;
  justify-content: center;
  margin-bottom: 7vw;
}

.about-gallery ul li {
  border-radius: 2vw;
}

.about-gallery ul li img {
  width: 20vw;
  height: 25vw;
  border-radius: 2vw;
}

.section-faq {
  color: #fff;
  padding: 6vw 8vw 3vw 8vw;
  display: grid;
  grid-template-columns: 50% 50%;
}

.faq-title {
  color: #6EE347;
}

.faq-description {
  margin-top: 4vw;
}

.faq-button {
  margin-top: 3vw;
  background-color: #6EE347;
  color: #174D9C;
}

.faq-qa {
  margin-top: 2.4vw;
}

.faq-qa li:not(:first-child) {
  margin-top: 2vw;
}

.faq-border {
  border: 2px solid #6EE347;
  width: 8vw;
}

.section-drone {
  padding: 3vw 8vw 3vw 8vw;
}

.section-drone p, .section-drone h2, .section-drone h3 {
  text-shadow: none;
}

.drone-container {
  background-color: #ffffffd3;
  color: black;
  border-radius: 1vw;
  display: grid;
  grid-template-columns: 40% 30% 30%;
  padding: 2.5vw 5vw 2.5vw 5vw;
  text-wrap: nowrap;
}

.drone-container1 h2::selection, p::selection {
  background-color: #1F5371;
  color: white;
}

.drone-container2 h3::selection, p::selection {
  background-color: #1F5371;
  color: white;
}

.drone-price {
  margin-top: -1.5vw;
  color: #1F5371;
  font-weight: 600;
  font-size: 1.7vw;
}

.drone-button {
  background-color: #1F5371;
  margin-top: 11vw;
}

.drone-pic {
  margin-left: -18vw;
  margin-top: 7vw;
  scale: 0.9;
}

.drone-container2 {
  margin-top: 1vw;
}

footer {
  position: relative;
  background: #0d285e;
  background: linear-gradient(0deg, rgba(12, 36, 83, 0.81) 52%, rgba(16,42,93,0.38) 77%, rgba(0,212,255,0) 100%);
  min-height: 17vw;
}

.footer-text {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2vw 8vw;
  line-height: 100%;
  z-index: 2;
  color: #fff;
  position: absolute;
  bottom: 0;
  width: 84%;
}

.footer-p2 {
  text-align: end;
}

.navigation {
  position: fixed;
  right: 2%;
  bottom: 8%;
  display: flex;
  flex-direction: column;
  gap: 1vw;
  z-index: 1000;
}

.navigation a {
  width: 3vw;
  height: 3vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1F5371;
  color: white;
  border-radius: 100vw;
}