:root {
  font-family: 'Trebuchet MS', sans-serif;
  padding: 0 ;
  background-color: #fff;
  background-image: url('../public/src/bg.png');
  background-size: cover;
  background-position: center;
  background-position-y: top;
}

body {
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 2.4vw;
}

h3 {
  font-size: 1.3vw;
}

p {
  font-size: 1.2vw;
}

ul {
  list-style-type: none;
  padding: 0;
}

button, .logo {
  cursor: pointer;
}

button {
  color: #fff;
  padding: 1vw 2.3vw;
  border: none;
  border-radius: 50vw;
  font-weight: 600;
  font-size: 0.9vw;
}

.main {
  font-size: 1vw;
}

header {
  padding: 1.7vw 5vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.menu {
  display: flex;
  flex-direction: row;
  gap: 2vw;
  font-weight: 600;
}

.menu li {
  cursor: pointer;
}

.button-buy {
  background-color: #1E6388;
}

.section-main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1.6vw 5vw 6vw 5vw;
}

.main-text {
  display: flex;
  flex-direction: column;
}

.main-title {
  font-size: 4vw;
  font-weight: 900;
}

.main-description {
  margin-top: -2vw;
  text-align: start;
}

.main-drone {
  margin-right: 2vw;
  margin-top: 5vw;
  scale: 1.2;
  position: relative;
  right: -20vw; 
  opacity: 0;
  animation: slideIn 2s ease forwards;
}

@keyframes slideIn {
  0% {
    right: -20vw;
    opacity: 0;
  }
  100% {
    right: 7vw;
    opacity: 1;
  }
}

.section-about {
  background-image: url('../public/src/divers.png');
  background-size: cover;
  background-position-y: center;
  background-position-x: right;
  height: 30vw;
  color: #fff;
  padding: 13vw 0 0 5vw;
}

.section-faq {
  color: #fff;
  padding: 3vw 5vw 6vw 5vw;
  display: grid;
  grid-template-columns: 45% 55%;
}

.faq-title {
  color: #6EE347;
}

.faq-description {
  margin-top: 4vw;
}

.faq-button {
  margin-top: 3vw;
  background-color: #6EE347;
}

.faq-qa {
  margin-top: 2.4vw;
}

.faq-border {
  border: 2px solid #6EE347;
  width: 8vw;
}

.section-drone {
  padding: 3vw 5vw;
}

.drone-container {
  background-color: #ffffff38;
  border-radius: 1vw;
  display: grid;
  grid-template-columns: 40% 30% 20%;
  padding: 2.5vw 5vw 1vw 5vw;
}

.drone-price {
  margin-top: -1.5vw;
  color: #1E6388;
  font-weight: 600;
  font-size: 1.7vw;
}

.drone-button {
  background-color: #1E6388;
  margin-top: 17vw;
}

.drone-pic {
  margin-left: -14vw;
  scale: 0.85;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2vw 5vw;
  line-height: 100%;
}

.footer-p2 {
  text-align: end;
}